.inview-navigator__nav-wrapper {
  background-color: #e6e6e6;
  width: inherit;
  min-height: 50px;
  max-width: 1200px;
}

.inview-navigator__nav {
  background-color: #e6e6e6;
  height: 50px;
}

.inview-navigator__nav::after {
  transition: transform .25s ease-in-out;
  content: "\203A";
  position: absolute;
  width: 35px;
  height: 50px;
  top: 0;
  right: 0;
  line-height: 2.1em;
  font-size: 1.5rem;
  transform-origin: center;
  transform: rotate(90deg);
  pointer-events: none;
}

.inview-navigator__nav.is-open::after {
  transform: rotate(-90deg);
}

.inview-navigator__nav.is-sticking {}

.inview-navigator__nav__item {
  /*transition: background-color .25s ease-in-out;
  padding: 0;
  cursor: pointer;
  text-align: right;
  padding: 0 1em;
  padding-right: 2em;
  width: 100%;
  position: relative;*/
}

.inview-navigator__nav__item a {
  color: #000000;
  text-decoration: none;
  line-height: 3.2;
  height: 50px;
}

.inview-navigator__nav__item:hover {
  background-color: rgba(255,255,255,.35);
}

.inview-navigator__nav__item.is-active {
  background-color: #aaaaaa;
}


@media (min-width: 768px) {}
